/* my style sheet */
/* setting all padding and margin to zero */
{
  padding: 0px;
  margin: 0px;
}
body {
  background-color: rgb(250, 40, 246);
}
/* adding my chosen fornt style  */
@font-face {
  font-family: Cute And Active.oft;
  scr: url(Cute And Active.otf);
}

h1{
  color: rgb(4, 151, 204);
  font-family: Cute And Active, Arial, sans-serif;
  margin-top: 15px;
  margin-bottom: 20px;

}
h2{
  color: rgb(4, 151, 204);
  font-family: Cute And Active, Arial, sans-serif;
  margin-top: 15px;
  margin-bottom: 20px;
}
p{
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
  line-height:15px;
}
.banner-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.logo{
background-color: rgb(66, 200, 245);
padding: 20px;
}
.navbar{
color: rgb(66, 245, 200)
padding: 20px;
text-align: right;
}
/* formatting card in content area */
.content-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}
.card{
  border: 1px solid rgb(12, 34, 56);
  border-radius: 10px;
  overflow: hidden;

}
/* dealing with images in cards. */
.card > img{
  max-width: 100%;
  height: auto;

}
